
.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
}

.description {
    grid-area: description;
}

.table {
    grid-area: table;
    height: 20vw;
}

.btn-actions {
    grid-area: btnActions;
    flex-flow: wrap-reverse;
}

.content {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 5vw auto 5vw;
    grid-template-areas: '. description .'
    '. table .'

}

.grid-menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

article {
    background-color: #ad1457;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-food {
    cursor: pointer;
}

.card-description {
    color: #fff;
    text-align: center;
}

.btn-delete-item {
    background-color: #e57373;
    color: #fff;
    border: 0;
    cursor: pointer;
}
