
.content-list-users {
    grid-area: contentUsers;
    text-align: center;
}

.content-list-comandas {
    grid-area: contentListComandas;
    text-align: center;
}

.ontent-preview-comandas {
    grid-area: preview;
    text-align: center;
}

.content-comandas {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-areas: 'contentUsers contentListComandas preview'
}