
form > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 5px;
  }
  
  
  form > div > div {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column;
    position: relative;
  }
  
  form > div > label {
    font-weight: 700;
    margin-right: 10px;
    min-width: 150px;
    text-align: right;
    padding: 6px 9px;
  }
  
  form > div > div > * {
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    padding: 5px 8px;
    border: 1px solid #ccc;
  }
  
  
  .form-products {
    grid-area: formProducts;
  }
  
  .content-form {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 50%;
    grid-template-areas: '. formProducts .';
  }
  