

.btn-primary {
  background-color: #00796b;
  border-radius: 0;
  color: #fff;
  width: 15vw;
  padding: 4%;
  margin: 1%;
  cursor: pointer;
  border-style: none;
}

.btn-delete {
  background-color: #d32f2f;
  border-radius: 0;
  color: #fff;
  width: 15vw;
  padding: 4%;
  margin: 1%;
  cursor: pointer;
  border-style: none;
}
